  <% @article.article_notes.each do |note| %>
    <div class="well col-xs-8 col-xs-offset-2">
      <ul class="listing">
        <div class="row">
          <div class="col-md-8">
            <li class="note-body">
              <Strong>Description: </Strong> <%= note.note %>
            </li>
            <li class="note-body">
              <Strong>Author: </Strong> <%= note.user.username %>, <strong>Created on: </strong> <%= note.created_at.to_date %>
            </li>          
          </div>
        </div>
        
        <% if logged_in? %>
          <div class="article-actions">
            <%= link_to "Edit", edit_article_article_note_path(:article_id => @article.id, :id => note.id), class: "btn btn-xs btn-primary" %>
          </div>
        <% end %>
        
        
      </ul>
      </div>
  <% end %>
